#myTopNav{
    position: absolute;
    top: 0;
    z-index: 9;
    background-color: #252d4a;
    border: none !important;
    color: white;
}
.nav-itm {
    margin: 0;
}
nav{
    box-shadow: none !important;
}
.just{
    margin: 0;
    padding: 0;
}
.nav-item-icon{
    font-size: 1.8rem;
}
.resp-icon{
    margin: 0.5rem;
}
@media screen and (max-width: 500px){
    .resp-txt {
        display: none;
    }
    .resp-icon{
        display: inline-block;
    }
}
@media screen and (max-width: 400px){
    .nav-itm{
        margin: 0.2rem;
    }
}


.nblogo-cont{
    object-fit: cover;
    width: 5rem;
    margin: 0.6rem;
  }
  .nblogo-img{
    max-width: 100%;
  }