@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  object-fit: cover;
}
:root {
  --primaryColor: #252d4a;
  --primaryShadeLight: #3e4b7a;
  --secondaryColor: #7cc6fe;
  --secondaryShadeLight: #aedcfe;
  
  --bgLightColor: #edf3f4;

  --textColor: rgb(34, 34, 34);
  --textColorLight: rgb(117, 117, 117);
}
.App {
  text-align: center;
  background-color: var(--secondaryColor) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.sub-app {
  margin-top: 2.5rem;
}
/* @media screen and (max-width: 525px) {
  .sub-app{
    margin-top: 6rem;
  }
} */
a,
Link {
  text-decoration: none;
  color: black;
}
/* Home responsiveness */

/* For quiz history page */
.quiz-history-intro {
  background-color: #252d4a;
  width: 15rem;
  height: min-content;
  padding: 20px;
  /* box-shadow: 10px 10px 42px 0px rgb(0 0 0 / 75%); */
  color: white;
  font-size: 1.3rem;
  width: 60%;
  margin: auto ;
  margin-top: 1rem ;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: #00000040 0 8px 25px;
}
.common-box-table {
  background-color: #252d4a;
  width: 30rem;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  /* box-shadow: 10px 10px 42px 0px rgb(0 0 0 / 75%); */
  color: white;
  font-size: 1rem;
}
th {
  font-size: 1.3rem;
  padding: 0.5rem;
}
td {
  border: 1px solid white;
  padding: 0.5rem;

}
@media screen and (max-width: 525px) {
  .common-box-table {
    width: auto !important;
    margin: auto !important;
  }
}
.loder-text-box{
  background-color: red;
}

/* //Common  */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

/* Utils */
.fx {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.full-img {
  max-width: 100%;
  max-height: 100%;
}
/* Design Sys */

.section-container {
  padding: 4rem 0;
}
.section-title-cont {
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
  justify-content: center;
  /* background-color: red; */
}
.section-title-line {
  width: 90%;
  max-width: 90%;
  height: 4px;
  background-color: #b7b7b7;
  border: 0;
}
.section-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  color: var(--section-title-cl);
  max-width: 55%;
  min-width: 20%;
  text-align: center;
  margin: 0 1.5rem;
}
.p-text {
  color: #596875;
  font-size: 1rem;
  line-height: 1.2rem;
}
.card-sub-title {
  color: #2f4152;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: auto;
  /* background-color: yellow; */
}
.card-holder-full {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  /* background-color: yellow; */
}
.card {
  width: 15rem;
  margin: 0.6rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: #00000040 0 8px 25px;
}
.only-card {
  margin: 0.6rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: #00000040 0 8px 25px;
}
.card-landscape {
  width: 30rem;
  margin: 0.6rem;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: #00000040 0 8px 25px;
}

.bg-apna-blue {
  background-color: var(--primary-cl);
  color: white;
}
@media (max-width: 580px) {
  .card-landscape {
    width: 15rem;
    margin: 0.6rem;
  }
  .section-title-line {
    width: 6rem;
  }
}

.one-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.one-view-text-box {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: rgb(24, 23, 23);
  margin: 1rem;
}

/* //Utility */
.cl-white {
  color: white !important;
}
.bg-whsmoke {
  background-color: whitesmoke;
}
.bg-color-light {
  background-color: var(--bgLightColor);
}
.bg-white {
  background-color: white;
}

.other-outer{
  margin-top: 5rem;
}
.main-page-data{
  font-size: 3rem;
  font-weight: bolder;
}

@media (max-width: 580px) {
  .main-page-data{
    font-size: 2rem;
    font-weight: bolder;
  }
  .home-outer{
    margin-top: 5rem;
  }
}